git+https://github.com/Amsterdam/GOB-Config.git@v0.14.2
git+https://github.com/Amsterdam/GOB-Core.git@v2.26.0
alembic~=1.11.3

# Test requirements
freezegun~=1.2.2
pytest-env~=1.0.1
requests_mock~=1.11.0
